Exercícios de visualização

In [3]:
import pandas as pd
import requests

In [4]:
df = pd.read_csv("pokemon.csv")

In [5]:
# Imprimir atributos dos tipo fogo
fire_type = df['Type 1'] == 'Fire'
print(df[fire_type][["Name", "Attack", "Defense"]])

                          Name  Attack  Defense
4                   Charmander      52       43
5                   Charmeleon      64       58
6                    Charizard      84       78
7    CharizardMega Charizard X     130      111
8    CharizardMega Charizard Y     104       78
42                      Vulpix      41       40
43                   Ninetales      76       75
63                   Growlithe      70       45
64                    Arcanine     110       80
83                      Ponyta      85       55
84                    Rapidash     100       70
135                     Magmar      95       57
147                    Flareon     130       60
158                    Moltres     100       90
169                  Cyndaquil      52       43
170                    Quilava      64       58
171                 Typhlosion      84       78
236                     Slugma      40       40
237                   Magcargo      50      120
259                      Magby      75       37
263                      Entei     115       85
270                      Ho-oh     130       90
276                    Torchic      60       40
277                  Combusken      85       60
278                   Blaziken     120       70
279      BlazikenMega Blaziken     160       80
352                      Numel      60       40
353                   Camerupt     100       70
354      CameruptMega Camerupt     120      100
355                    Torkoal      85      140
435                   Chimchar      58       44
436                   Monferno      78       52
437                  Infernape     104       71
518                  Magmortar      95       67
542                    Heatran      90      106
557                      Tepig      63       45
558                    Pignite      93       55
559                     Emboar     123       65
572                    Pansear      53       48
573                   Simisear      98       63
614                   Darumaka      90       45
615    DarmanitanStandard Mode     140       55
616         DarmanitanZen Mode      30      105
692                    Heatmor      97       66
721                   Fennekin      45       40
722                    Braixen      59       58
723                    Delphox      69       72
730                Fletchinder      73       55
731                 Talonflame      81       71
735                     Litleo      50       58
736                     Pyroar      68       72
799                  Volcanion     110      120

In [6]:
# Imprimir atributos dos tipo água
water_type = df["Type 1"] == "Water"
print(df[water_type][["Name","Attack","Speed"]])

                        Name  Attack  Speed
9                   Squirtle      48     43
10                 Wartortle      63     58
11                 Blastoise      83     78
12   BlastoiseMega Blastoise     103     78
59                   Psyduck      52     55
..                       ...     ...    ...
724                  Froakie      56     71
725                Frogadier      63     97
726                 Greninja      95    122
762                Clauncher      53     44
763                Clawitzer      73     59

[112 rows x 3 columns]

In [40]:
# Imprimir atributos dos tipo água e ataque maior que 80
strong_water_type = df[(df["Type 1"] == "Water") & (df["Attack"] > 80)]
print(strong_water_type[["Name","Attack","Speed"]])

                        Name  Attack  Speed
11                 Blastoise      83     78
12   BlastoiseMega Blastoise     103     78
60                   Golduck      82     85
67                 Poliwrath      95     70
98                  Cloyster      95     70
106                   Krabby     105     50
107                  Kingler     130     75
128                  Seaking      92     68
140                 Gyarados     125     81
141    GyaradosMega Gyarados     155     81
142                   Lapras      85     60
174               Feraligatr     105     78
210                 Quagsire      85     35
227                 Qwilfish      95     85
242                Octillery     105     45
249                  Kingdra      95     85
281                Marshtomp      85     50
282                 Swampert     110     60
283    SwampertMega Swampert     150     70
347                 Carvanha      90     65
348                 Sharpedo     120     95
349    SharpedoMega Sharpedo     140    105
351                  Wailord      90     60
374                Crawdaunt     120     55
402                  Huntail     104     52
403                 Gorebyss      84     52
404                Relicanth      90     55
421                   Kyogre     100     90
422      KyogrePrimal Kyogre     150     90
440                 Empoleon      86     60
466                 Floatzel     105    115
470                Gastrodon      83     39
541                   Palkia     120    100
548                  Manaphy     100    100
562                 Samurott     100     70
575                 Simipour      98    101
597               Seismitoad      95     74
610                 Basculin      92     98
626               Carracosta     108     32
642                   Swanna      87     98
726                 Greninja      95    122

In [8]:
# Pegar as linhas 10 até 20, exibindo atributos específicos

pokemon_10_a_20 = df.iloc[9:20]
print(pokemon_10_a_20[["Name","Type 1","HP"]])

                       Name Type 1  HP
9                  Squirtle  Water  44
10                Wartortle  Water  59
11                Blastoise  Water  79
12  BlastoiseMega Blastoise  Water  79
13                 Caterpie    Bug  45
14                  Metapod    Bug  50
15               Butterfree    Bug  60
16                   Weedle    Bug  40
17                   Kakuna    Bug  45
18                 Beedrill    Bug  65
19    BeedrillMega Beedrill    Bug  65

In [9]:
# Média de ataque e defesa por tipo

attack_type_media = df.groupby("Type 1")["Attack"].mean()
print(attack_type_media)

Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Attack, dtype: float64

In [10]:
# Média de defesa e defesa por tipo

defense_type_media = df.groupby("Type 1")["Defense"].mean()
print(defense_type_media)

Type 1
Bug          70.724638
Dark         70.225806
Dragon       86.375000
Electric     66.295455
Fairy        65.705882
Fighting     65.925926
Fire         67.769231
Flying       66.250000
Ghost        81.187500
Grass        70.800000
Ground       84.843750
Ice          71.416667
Normal       59.846939
Poison       68.821429
Psychic      67.684211
Rock        100.795455
Steel       126.370370
Water        72.946429
Name: Defense, dtype: float64

In [11]:
# Contando quantos pokemons tem por região

quantity_by_region = df.groupby("Generation")["Name"].count()
print(quantity_by_region)

Generation
1    166
2    106
3    160
4    121
5    165
6     82
Name: Name, dtype: int64

In [16]:
# Quantos pokemons existem em cada combinação
pokemon_type_by_region = df.groupby(["Generation", "Type 1"])["Name"].count()
print(pokemon_type_by_region)

Generation  Type 1
1           Bug         14
            Dragon       3
            Electric     9
            Fairy        2
            Fighting     7
                        ..
6           Poison       2
            Psychic      5
            Rock         9
            Steel        5
            Water        5
Name: Name, Length: 98, dtype: int64

In [ ]:
# Ordenar por Ataque

df_order = df.sort_values("Attack", ascending=True)
print(df_order[["Name","Attack"]])

                        Name  Attack
121                  Chansey       5
488                  Happiny       5
139                 Magikarp      10
230                  Shuckle      10
261                  Blissey      10
..                       ...     ...
429       DeoxysAttack Forme     180
426    RayquazaMega Rayquaza     180
424    GroudonPrimal Groudon     180
232  HeracrossMega Heracross     185
163      MewtwoMega Mewtwo X     190

[800 rows x 2 columns]

In [ ]:
# Pokémon do tipo Grass com HP > 60, ordenados por Defense (decrescente).

grass_type = df[((df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")) & (df["HP"] > 60)]
grass_type = grass_type.sort_values("HP")
print(grass_type[["Name","HP"]])

                        Name   HP
719                Quilladin   61
76                Weepinbell   65
521                  Leafeon   65
122                  Tangela   65
784    GourgeistAverage Size   65
740                   Skiddo   66
377                   Lileep   66
651                  Foongus   69
363                 Cacturne   70
468                  Cherrim   70
297                  Nuzleaf   70
609                Lilligant   70
274                 Sceptile   70
275    SceptileMega Sceptile   70
659               Ferrothorn   74
505                Carnivine   74
571                 Simisage   75
617                 Maractus   75
556                Serperior   75
433                   Grotle   75
207                 Sunflora   75
197                Bellossom   75
786      GourgeistLarge Size   75
602                 Leavanny   75
50                 Vileplume   75
204                 Jumpluff   75
2                   Venusaur   80
77                Victreebel   80
3      VenusaurMega Venusaur   80
647                 Sawsbuck   80
168                 Meganium   80
295                 Ludicolo   80
787      GourgeistSuper Size   85
779                Trevenant   85
378                  Cradily   86
720               Chesnaught   88
510                Abomasnow   90
511  AbomasnowMega Abomasnow   90
298                  Shiftry   90
701                 Virizion   91
111                Exeggutor   95
434                 Torterra   95
390                  Tropius   99
271                   Celebi  100
551         ShayminSky Forme  100
550        ShayminLand Forme  100
516                Tangrowth  100
652                Amoonguss  114
741                   Gogoat  123

In [ ]:
# Nova coluna e mostrando os 5 maiores

df["TotalStats"] = df["Attack"] + df["Defense"] + df["HP"]

df_sort_total_stats = df.sort_values("TotalStats", ascending=False)
df_sort_total_stats.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TotalStats
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,440
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,440
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,430
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False,414
313,289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,410

In [79]:
# duplicados = df[df.duplicated("Generation")]
# print(duplicados)

df_sem_dup = df.drop_duplicates("Generation")
print(df_sem_dup)

       #       Name   Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  \
0      1  Bulbasaur    Grass  Poison    318   45      49       49       65
166  152  Chikorita    Grass     NaN    318   45      49       65       49
272  252    Treecko    Grass     NaN    310   40      45       35       65
432  387    Turtwig    Grass     NaN    318   55      68       64       45
553  494    Victini  Psychic    Fire    600  100     100      100      100
718  650    Chespin    Grass     NaN    313   56      61       65       48

     Sp. Def  Speed  Generation  Legendary  TotalStats
0         65     45           1      False         143
166       65     45           2      False         159
272       55     70           3      False         120
432       55     31           4      False         187
553      100    100           5       True         300
718       45     38           6      False         182

In [ ]:
# DESAFIO - Mostrar uma tabela com Defesa e Ataques médios por Tipo e contar quantos de cada tem

tabela = (
    df.groupby("Type 1")
      .agg({
          "Attack": "mean",
          "Defense": "mean",
          "Name": "count"
      })
      .rename(columns={"Name": "Count"})
      .sort_values("Attack")
)

print(tabela)

              Attack     Defense  Count
Type 1
Fairy      61.529412   65.705882     17
Electric   69.090909   66.295455     44
Bug        70.971014   70.724638     69
Psychic    71.456140   67.684211     57
Ice        72.750000   71.416667     24
Grass      73.214286   70.800000     70
Normal     73.469388   59.846939     98
Ghost      73.781250   81.187500     32
Water      74.151786   72.946429    112
Poison     74.678571   68.821429     28
Flying     78.750000   66.250000      4
Fire       84.769231   67.769231     52
Dark       88.387097   70.225806     31
Steel      92.703704  126.370370     27
Rock       92.863636  100.795455     44
Ground     95.750000   84.843750     32
Fighting   96.777778   65.925926     27
Dragon    112.125000   86.375000     32

Requests

In [91]:
# EXERCÍCIO 1 — Fazer um GET simples e alguns prints

url = "https://pokeapi.co/api/v2/pokemon/pikachu"
response = requests.get(url)

# Convertendo para JSON
json = response.json()

print(json['name'])
print(json['height'])
print(json['weight'])

pikachu
4
60